<h3>Find By employee id</h3>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="empId">Employee Id</label>
      <input type="text" class="form-control" id="empId" required [(ngModel)]="empId" name="empId">
    </div>
 
    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
<hr/>
<div *ngIf="employee">

    <div class="col-md-6">
        <table class="table table-striped">
        <thead>
        <tr>
          <th>Emp ID</th>
          <th>name</th>
          <th>designation</th>
          <th>Salary</th>
          </tr>
        </thead>
        <tbody>
            <tr>
               <td>{{employee.empId}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.designation}}</td>
                <td>{{employee.salary}}</td>            
            </tr>
        </tbody>
          </table>
    </div>
</div>
